<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<h1>
		<a href="{{ link | prepend: site.baseurl }}">
			{{ site.title }}
		</a>
	</h1>

	<a href="{{ '/about' | prepend: site.baseurl }}">About</a>
	<a href="{{ '/' | prepend: site.baseurl }}">Blog</a>
	<a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a>
	<a href="https://github.com/kristenmasada">GitHub</a>

</aside>
