<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}
        
	<h1>
		<a href="{{ link | prepend: site.baseurl }}">
			{{ site.title }}
		</a>
	</h1>

        <!--set up navigation bar so that title of current page is highlighted-->
        {% assign group = 'navigation' %}
        {% assign sorted_pages = site.pages | sort: "order" %}
        {% for node in sorted_pages %}
                {% if group == node.group %}
                        {% if page.url == node.url %}
                          <a href="{{node.url}}" class="active">{{node.title}}</a>   
                        {% else %}
                          <a href="{{node.url}}">{{node.title}}</a>   
                        {% endif %}
                {% endif %}
        {% endfor %}


</aside>
